.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1194px;
    margin: 0 auto;
}

.app-header {
    flex: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 10px 10px;
    z-index: 20;
}

.app-main {
    flex: 1;
    margin: 10px 20px;
}

.app-footer {
    flex: 0;
    border-top: 1px solid rgb(211, 211, 211);
    background-color: rgb(245, 245, 245);
}

@media (max-width: 768px) {
    .app-main {
        font-size: 14px;
    }
}