.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1194px;
    margin: 0 auto;
}

.app-header {
    flex: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 5px 10px;
}

.app-main {
    flex: 1;
    margin: 10px 20px;
}

.app-footer {
    flex: 0;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 20px 10px;
}
