.app-footer-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    justify-content: space-between;
}

.app-footer-left-first {
    font-size: 30px;
    font-weight: bold;
}

.app-footer-right-small-icon {
    cursor: pointer;
    margin: 0 10px;
}

.app-footer-right-small-icon:hover {

}

.app-footer-right-small-icon:active {

}

@media (min-width: 768px) {
    .app-footer-right-small {
        display: none;
    }
}

@media (max-width: 768px) {
    .app-footer-right-big {
        display: none;
    }
}